<h1>
Route Info: <%= @route[:name] %>
</h1>
<ul>
<li><strong>Method:</strong> <%= @route[:verb] %></li>
<li><strong>Path:</strong> <%= @route[:path] %></li>
</ul>

<h2>
Controller Code
</h2>

<%= render :partial => 'code_snippet', :locals => { :code_source => @file, :code_info => @controller_info }%>

<h2>
Database Tables
</h2>
<style>
.database_tables {
  display: block;
}
.database_table {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}
</style>
<div class='database_tables'>
<% @info.each do |table| %>
<div class='database_table'>
      <h3>
      <%= table[0] %>
      </h3>
      <% table[1..-1].each do |info| %>
        <p>
          <%= info %>
        </p>
      <% end %>
    </div>
  <% end %>
</div>
